:root {
	font-family: sans-serif;
	font-size: 20px;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0 0 0;

	height: 50px;
	width: 100%;
}

#links a {
	background-color: black;
	color: white;

	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30%;
	height: 100%;
	border-radius: 10px;
}

#table table {
	border-collapse: collapse;
}

#table th,
td {
	text-align: center;

	border: 1px solid black;

	width: 200px;
}